{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
             <p>
                 This is just a small weekend project that's very much in it's alpha stage.
             </p>
             <p>
                 You can find the code behind this marvel of engineering over on github
                 where I would very much welcome any pull requests that help make this
                 into real software (It's lacking in the testing and error handling depts
                 among others).
             </p>
             <p>
                 <a href="https://github.com/hairmare/api-ci">hairmare/api-ci</a>
             </p>
        </div>
        <div class="col-md-4">
             <img src="https://placekitten.com/g/200/300">
        </div>
    </div>
{% endblock %}
