{% extends 'default/layout/layout.twig' %}

{% block control_panel %}
    <div id="control-panel">
        <form id="search-form" action="{{ path('search.html') }}" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>
{% endblock %}


{% block footer %}
    <div id="footer">
        Generated  for <a href="/">api-ci</a> by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>
{% endblock %}
