{% extends 'default/layout/layout.twig' %}

{% block footer %}
    <div id="footer">
        Generated  for <a href="/">api-ci</a> by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>
{% endblock %}
